.about-article {
    margin-top: 100px;
    &__container {
        display: flex;
    }
    &__image-block {
        width: 590px;
        height: 520px;
    }
    &__content-block {
        margin-left: 50px;
        display: flex;
        flex-direction: column;
    }
}
.about-article-image-block {
    &__image {
        object-fit: cover;
        width: 100%;
    }
}
.about-article-content-block {
    &__title {
        color: $black;
        font-family: 'Asap', sans-serif;
        font-size: 40px;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0;
    }
    &__text-first {
        color: $black;
        font-size: 30px;
        font-weight: 300;
        margin-top: 100px;
    }
    &__text-second {
        color: $black;
        font-size: 24px;
        font-weight: 300;
        margin-top: 50px;
    }
}
@include media($tablet) {
    .about-article {
        &__container {
        }
        &__image-block {
        }
        &__content-block {
        }
    }
    .about-article-image-block {
        &__image {
        }
    }
    .about-article-content-block {
        &__title {
            font-size: 25px;
        }
        &__text-first {
            font-size: 25px;
            margin-top: 40px
        }
        &__text-second {
            font-size: 15px;
        }
    }
}
@include media($mobile) {
    .about-article {
        &__container {
            flex-direction: column;
            align-items: center;
        }
        &__image-block {
            display: flex;
            width: auto;
            height: auto;
        }
        &__content-block {
        }
    }
    .about-article-content-block {
        &__title {
            margin-top: 40px
        }
        &__text-first {
        }
        &__text-second {
        }
    }
}