.cart {
    &__container {
        margin-top: 160px;
        display: flex;
        flex-direction: column;
    }
    &__product-block {
        margin-top: 60px;
        display: flex;
        align-items: center;
        gap: 100px;
    }
    &__link {
        margin-top: 15px;
        color: $purple;
        font-size: 30px;
        font-weight: 300;
        text-decoration: none;
    }
    &__result {
        margin-top:70px;
        margin-left: 800px;
    }
}
.cart-product-block {

    &__cancell {
        margin-top: 40px;
        width: 25px;
        height: 25px;
    }

    &__product {
        margin-left: 165px;
        margin-left:auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__title {
        color: rgba(0, 0, 0, 0.50);
        font-size: 20px;
        font-weight: 300;
    }
    &__content {
        margin-top: 40px;
        display: flex;
        width: max-content;
        height: 65px;
        justify-content: center;
        align-items: center;
    }
    &__image {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    &__price {
    }
    &__calc {
    }
    &__subtotal {
    }
}
.cart-product-block-content {

    &__img-wrapper {
        width: 50px;
        height: 65px;
    }
    &__text {
        color: $black;
        font-size: 25px;
        font-weight: 300;
    }
    &__title{
        margin-left: 25px;
    }

}


.cart-result {

    &__title {
        color: $black;
        font-family: 'Asap', sans-serif;
        font-size: 30px;
        font-weight: 400;
    }

    &__block {
        margin-top:40px;
        &_text {
            color: $black;
            font-size: 25px;
            font-weight: 300;
        }
    }

    &__link {
        margin-top: 50px;
        width: 245px;
    }
}
.cart-result-block {

    &__title {
        color: rgba(0, 0, 0, 0.50);
        font-size: 20px;
        font-weight: 300;
    }
}
.cart-result-delivery {

    &__text {
        margin-left: 50px;
    }
}
.cart-result-price {

    &__text {
        margin-left: 77px
    }
}
@include media($tablet) {
    .cart {
        &__container {
        }
        &__product-block {
            gap: 40px;
            align-items: center;
            justify-content: center;
        }
        &__link {
        }
        &__result {
            margin-left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    .cart-product-block {
    
        &__cancell {
        }
        &__product {
            margin-left: 0;
        }
        &__title {
        }
        &__content {
        }
        &__image {
        }
        &__price {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__calc {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__subtotal {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .cart-product-block-content {
    
        &__img-wrapper {
        }
        &__text {
        }
        &__title{
        }
    
    }
    
    
    .cart-result {
    
        &__title {
        }
    
        &__block {
            &_text {
            }
        }
    
        &__link {
        }
    }
    .cart-result-block {
        &__title {
        }
    }
    .cart-result-delivery {
        &__text {
        }
    }
    .cart-result-price {
        &__text {
        }
    }
}
@include media($mobile) {
    .cart {
        &__container {
        }
        &__product-block {
            border: 1px solid $black;
            gap: 20px;
            flex-direction: column;
            padding: 40px;
        }
        &__link {
            font-size: 25px;
        }
        &__result {

        }
    }
    .cart-product-block {
    
        &__cancell {
            margin:0;
        }
        &__product {
            margin-left: 0;
        }
        &__title {
        }
        &__content {
            margin-top: 10px;
            height: auto;
            width: auto;
            flex-direction: column;
        }
        &__image {
        }
        &__price {
        }
        &__calc {
        }
        &__subtotal {
        }
    }
    .cart-product-block-content {
    
        &__img-wrapper {
            display: flex;
            height: 300px;
            width: 200px;
            
        }
        &__text {
        }
        &__title{
            margin: 0;
            margin-top: 10px;
        }
    
    }
    
    
    .cart-result {
    
        &__title {
        }
    
        &__block {
            &_text {
            }
        }
    
        &__link {
        }
    }
    .cart-result-block {
        &__title {
        }
    }
    .cart-result-delivery {
        &__text {
        }
    }
    .cart-result-price {
        &__text {
        }
    }
}


