.tabs {
    margin-top: 110px;
    &__container {
    }
    &__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 25px;
    }
    &__button {
        display: flex;
        width: 200px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.50);
    }
    &__panel {
        margin-top: 70px;
        display: none;
        position: relative;
        vertical-align: middle;
        width: 975px;
        height: 780px;
        margin-left: auto;
        margin-right: auto 
    }
    &__active {
        display: flex;
        flex-direction: column;
        text-align: center;
        border-color: $black;
        .tabs-button{
            &__link {
                color: $black;
            }
        }
        
    }
}
.tabs-panel {
    &__title {
        color: $black;
        font-size: 35px;
        font-weight: 300;
        margin:0;
        &_style
        {
            margin-top: 50px;
        }

    }
    &__text {
        color: $black;
        font-size: 15px;
        font-weight: 300;
        margin-top: 35px;
        &_style
        {
            margin:0;
            font-size: 25px;
        }
    }
}

.tabs-panel {
    &__image-1 {
        z-index: 3;
        position: absolute;
        right: 680px;
        bottom: 480px;
        &_position
        {
            right: 570px;
            bottom: 420px;
        }
    }
    &__image-2 {
        z-index: 3;
        position: absolute;
        right: 50px;
        bottom: 0;
        &_position
        {
            right: 95px;
        }
    }
    &__image-3 {
        &_position
        {
            right: 220px;
        }
    }
    &__image-4 {
        &_position
        {
            right: 350px;
        }
    }
}

.tabs-button {
    &__link {
        font-size: 24px;
        font-weight: 300;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.50);
    }
}

@include media($tablet) {
    .tabs {
        &__container {
        }
        &__buttons {
        }
        &__button {
        }
        &__panel {
            margin-top: 70px;
            text-align: center;
            width: auto;
        }
        &__active {
            .tabs-button{
                &__link {
                }
            }
            
        }
    }
    .tabs-panel {
        &__title {
            &_style
            {
            }
    
        }
        &__text {
            &_style
            {
            }
        }
    }
    
    .tabs-panel {
        &__image-1 {
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            bottom: 400px;
            &_position
            {
            }
        }
        &__image-2 {
            display: none;
            &_position
            {
            }
        }
        &__image-3 {
            display: none;
            &_position
            {
            }
        }
        &__image-4 {
            display: none;
            &_position
            {
            }
        }
    }
    
    .tabs-button {
        &__link {

        }
    }
}
@include media($mobile) {
    .tabs {
        &__container {
        }
        &__buttons {
            flex-direction: column;
            padding: 0;
        }
        &__button {
        }
        &__panel {
            margin-top: 40px;
            text-align: center;
            width: auto;
        }
        &__active {
            .tabs-button{
                &__link {
                }
            }
            
        }
    }
    .tabs-panel {
        &__title {
            font-size: 25px;
            &_style
            {
            }
    
        }
        &__text {
            margin-top: 15px;
            font-size: 15px;
            &_style
            {
            }
        }
    }
    
    .tabs-button {
        
        &__link {

        }
    }
}