// Заголовки, общие БЄМ блоки и проче...

body {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: $black;
}



a {
    color: black;
    transition: .3s;
    &:hover {
        opacity: 0.7;
    }
}

.section-title {
    margin-top: 85px;
    display: flex;
    font-family: 'Asap', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 0.9;
    text-transform: uppercase;
    &_accent {
        margin-top: 40px;
    }
}
.button {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid;
    font-size: 20px;
    font-weight: 300;
    line-height: 0.7;
    text-align: center;
    text-decoration: none;
    color: $black;
    min-height: 50px;
    &_fill {
        background: $black;
        color: $white;
        .loader {
            &::before, &::after {
                background: $white;
            }
        }
    }
    &_load {
        .loader {
            display: inline-block;
        }
    }
}

.loader {
    display: none;
    position: relative;
    &::after, &::before {
        content: '';
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: $black;
        position: absolute;
        left: calc(50% - 12px);
        top: calc(50% - 12px);
        animation: animloader 2s linear infinite;
    }
    &::after {
        animation-delay: 1s;
    }
}

.variations-calc {
    height: 50px;
    display: flex;
    background: #F1F1F1;
}

.minus {
    color: rgba(0, 0, 0, 0.50);
    font-size: 25px;
    font-weight: 300;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    background: transparent;
}
.quantity {
    color: $black;
    font-size: 25px;
    font-weight: 300;
    min-width: 50px;
    height: 50px;
    text-align: center;
    border-width: 0 2px;
    border-style: solid;
    border-color: #00000038;
    padding: 10px 0;
    cursor: pointer;
    background: transparent;
}
.plus {
    color: rgba(0, 0, 0, 0.50);
    font-size: 25px;
    font-weight: 300;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    background: transparent;
}
.image-block-1 {
    z-index: 2;
    position: absolute;
    right: 175px;
    bottom: 90px;
    &_position
    {
        right: 220px;
    }
}

.image-block-2 {
    z-index: 1;
    position: absolute;
    right: 280px;
    bottom: 205px;
    &_position
    {
        right: 350px;
    }
}

.form-input {
    margin-top:25px;
    display: flex;
    width: 707px;
    height: 90px;
    padding: 10px 30px;
    align-items: center;
    border: 1px solid $black;
    color: $black;
    font-size: 25px;
    font-weight: 400;

    &::placeholder {
        color: $black;
        font-size: 25px;
        font-weight: 400;
    }

    &_ident {
        margin:0;
    }

    &_gray {

        margin-top: 25px;

        &::placeholder {
            color: #BBB;
            font-size: 25px;
            font-weight: 300;
            &::first-letter
            {
                color: $black;
            }
        }
    }
}